.banner
  .container 
    .banner__inner 
      .banner__logo 
        img.banner__logo(src="images/logo-banner.png", alt="")
        .banner__logo-box 
          h1.banner__title Kaspi Invest
          p.banner__text Супер приложение #1 в Казахстане