section.content 
  .container 
    .content__inner 
      .content__top 
        h2.title Как в&nbsp;свои 29&nbsp;лет я&nbsp;смогла выбраться из&nbsp;нищеты и&nbsp;начала зарабатывать от&nbsp;1.500.000 ₸ в&nbsp;месяц
        p.date <span>Опубликовано:</span><br>сегодня, 12 декабря 2022, 16:14
        .border 
        img(src="images/wooman.jpg", alt="")
      .content__body 
        p.text <strong>На что вы готовы ради своего счастья?</strong> Как далеко вы готовы зайти? Ведь живем один раз, и явно не стоит тратить свою жизнь, работая на других. Может пришло время подумать о себе? Конечно если вас все устраивает, то можете закрыть эту статью.
        p.text С теми, кто хочет изменить свою жизнь, я хочу поделиться <span>новой платформой для заработка Kaspi Invest</span>, которая позволит не ходить на работу каждый день и даст Вам возможность <strong>зарабатывать от 55.000 ₸</strong> ежедневно, при этом не выходя из дома!
        p Такой доход - далеко не предел, ведь сейчас я зарабатываю значительно больше‚ но на начальном этапе и это неплохая сумма!
        a.link(href="#") Начать<br>зарабатывать 
        p.text Для начала немного расскажу о себе. Меня зовут - Айгуль Нуриева. На сегодняшний день, я уверенно могу назвать себя успешным предпринимателем и инвестором. Конечно я не сразу к этому пришла, долгое время я пыталась реализовать себя в бизнесе, ведь как все привыкли думать бизнес и женщины, это несовместимые вещи, к моему большому сожалению. Новая <span>платформа для заработка Kaspi Invest</span>, помогла мне реализоваться и стать одним из самых успешных инвесторов в cтране!
        p.text С наступлением политической напряженности в мире, как и все жители нашей страны, я думала как бы заработать деньги не выходя из дома. Я испробовала ,мне кажется, десятки различных вариантов, и единственный способ из всех, в котором не было обмана и реально можно было бы зарабатывать оказался <span>платформой Kaspi Invest</span>.
        p.text Давайте объясню поподробнее…
        .center 
          p.text <span>Платформа для заработка Kaspi Invest</span> создана благодаря совместной работе специалистов программирования из Kaspi.kz. В связи с экономической ситуацией в стране и мире, было принято решение разработать платформу для заработка, которая помогла бы жителям страны не потерять свои доходы и выйти на новый уровень жизни за короткий срок!
          p.text После, более чем 3-х лет тестирования и отладки, платформа стала доступна для всех жителей страны. За время многочисленных тестов платформа показала себя на все 100% и превзошла ожидания даже разработчиков! В связи с тем что платформа набирает популярность по всей стране и за ее пределами, из-за этого разработчики стали сталкиваться с проблемами. Одна из проблем, это то что программа может одновременно обрабатывать ограниченное количество пользователей, именно по этому как можно быстрей присоединяйтесь к <span>Платформе для заработка Kaspi Invest!</span>
          p.text Ведь никто не знает когда место на платформе закончатся. Меня этот проект заинтересовал с самого начала, потому что только тут я почти сразу смогла заработать и оплатить кредит за квартиру (который кстати я смогла потом погасить всего за 5 месяцев!)
          p <span>Поэтому успейте зарегистрироваться!</span> 
          a.link-second.link(href="#") Подать заявку 
          p.text ...Первые <strong>82.580 ₸</strong> я смогла вывести уже через 4 дня с начала работы. После этого я сразу поняла, что могу зарабатывать деньги не выходя из дома и не работать на начальника, который обращался ко всем сотрудникам, как к расходному материалу
          p.text На данный момент, мой счет в банке выглядит именно так:
          img(src="images/check.jpg", alt="счет")
          p.text Чем дольше я работала в <span>платформе Kaspi Invest</span>, тем больше денег я зарабатывала.
          p.text Через 7 месяцев мой автопарк пополнился уже на 2 новеньких мерседеса. Согласитесь, не каждый может позволить себе такие покупки. Но это было только начало!
          img.image(src="images/cars.jpg", alt="")
          p Прошло больше года, как я зарегистрировалась и вложила свои первые 127.050 т. Теперь мой ежемесячный доход составляет от <strong>1.170.000 ₸</strong> в месяц!
          p <span>(Все благодаря платформе от Kaspi Invest)</span>
          a.link(href="#") Начать<br>зарабатывать 
          p.text <strong>Теперь расскажу с чего начать, все очень просто, нужно выполнить всего 3 шага: </strong>
          ul.list 
            li.list__item 
              .list__box
                img(src="images/list/1.png", alt="")
                p.list__num 01
              p.list__text Введите свои данные на официальном сайте, чтобы создать свою учетную запись
            li.list__item 
              .list__box
                img(src="images/list/2.png", alt="")
                p.list__num 02
              p.list__text Дождитесь звонка менеджера и подтвердите регистрацию
            li.list__item 
              .list__box
                img(src="images/list/3.png", alt="")
                p.list__num 03
              p.list__text Внесите депозит и начните зарабатывать
          a.link-second.link(href="#") Подать заявку 