footer.footer
  .container 
    .footer__inner
      //- ul.footer__social 
      //-   li.footer__social-item 
      //-     a.footer__social-link(href="https://dzen.ru/?yredirect=true" target="_blank") 
      //-       img(src="", alt="")
      p.footer__copy © 2012-2022 гг. АО "Kaspi Bank",
      p.footer__text Платформа Kaspi Invest 
      p.footer__text Лицензия на проведение банковских и иных операций и деятельности на рынке ценных бумаг №1.2.245/61 от 03.02.2020, выданная Агенством Республики Казахстан по регулированию и развитию финансового рынка