header.header
  .container 
    .header__inner
      a.header__logo.logo(href="/")
        img.logo__img(src="images/logo.png", alt="logo")
        p.logo__text Kaspi Invest
      nav.menu 
        ul.menu__list 
          li.menu__list-item 
            a.menu__list-link(href="#") Клиентам
          li.menu__list-item 
            a.menu__list-link(href="#") Бизнесу
          li.menu__list-item 
            a.menu__list-link(href="#") Kaspi Гид

